*{
  transition: 0.7s;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-size: 15px;
}
.side_photo {
  height: 100vh;
  width: 40%;
  position: fixed;
  object-fit: cover;
  z-index: 10;
}
.wrapper {
  margin-left: 40%;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: margin 0.5s ease;
}
.menu {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 0;
  position: fixed;
  right: 0;
  background-color: #000;
  z-index: 99;
  transition: 0.9s;
  overflow: hidden;
  padding-top: 150px;
}
#menu_open:checked ~ .wrapper .menu {
  width: 60%;
}
.menu_bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.menu_Link {
  color: #757575;
  font-size: 34px;
  transition: 0.3s;
}
.menu_bar_item:hover .menu_Link {
  color: #fff;
}
.menu_button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 0;
  top: 0;
  height: 80px;
  width: 80px;
  background-color: #ffffff;
  z-index: 100;
  color: #757575;
  font-size: 40px;
  cursor: pointer;
}
.menu_button:hover {
  background-color: #ccc;
}
#close {
  display: none;
}
#menu_open:checked ~ label {
  background-color: #000;
}
#menu_open:checked ~ label:hover {
  background-color: #ccc;
}

#menu_open:checked ~ label #open {
  display: none;
}
#menu_open:checked ~ label #close {
  display: block;
}
#menu_open {
  display: none;
}
/* =========================================== Header =================================== */

.head_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 160px;
}
.page_owner_name {
  margin-top: 160px;
  font-size: 4.5rem;
  font-weight: 550;
}
.owners_position {
  font-size: 15px;
}
.dawnload_link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 45px;
  width: 210px;
  background-color: #f1f1f1;
  color: #000;
}
.dawnload_link:hover {
  background-color: #ccc;
}
.small_screen_photo {
  width: 60%;
  display: none;
}
/* =========================================== Main =================================== */

.main_content {
  display: flex;
  flex-direction: column;
  padding: 12px 24px;
}
.section_name {
  height: 62px;
  border-bottom: 1px solid #eee;
  font-size: 30px;
  color: #757575;
}
/*====== Portfolio =====*/

.photo_container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.img_box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.img_box img {
  width: 100%;
}

/*====== About =====*/
.about .section_name {
  margin-top: 70px;
}
.about_owner {
  margin-top: 20px;
  color: #8692a0;
  text-align: justify;
}

/*====== Skills =====*/

.skills {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.skills_name {
  border: none;
  margin-top: 20px;
}
.skill_item_name {
  letter-spacing: 4px;
}
.skills_progress {
  color: #fff;
  height: 30px;
  width: 100%;
  background-color: #f1f1f1;
  position: relative;
}
.skills_progress label {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.skills_progress::before {
  content: "80%";
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  height: 100%;
  width: 80%;
  background-color: #616161;
}
.photo_progress:before {
  content: "95%";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 80%;
  background-color: #616161;
  width: 95%;
}
.web_progress:before {
  content: "85%";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 80%;
  background-color: #616161;
  width: 85%;
}
.projects_amount {
  height: 122px;
  width: 100%;
  background-color: #616161;
  display: flex;
  margin-top: 23px;
  align-items: center;
  justify-content: space-around;
}
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.number_done {
  font-size: 2rem;
  color: #fff;
}
.name_of_done {
  color: #fff;
}
.skills a {
  margin-top: 17px;
}

/*====== Reputation =====*/

.reputation {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.reputation .section_name {
  margin: 70px 0 0 0;
}
.pratners_review {
  display: flex;
  gap: 10px;
}
.partner_data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.reviewer_avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
/*====== Price =====*/
.Price .skills_name{
  margin-top: 50px;
}
.prise_box_container {
  width: 100%;
  display: flex;
  gap: 15px;
}
.price_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0 0 5px 1px #d0d0d0, 0 0 5px 1px #d0d0d0;
}
.price_container:hover {
  box-shadow: 0 0 5px 3px #d0d0d0, 0 0 5px 3px #d0d0d0;
}
.name_pocket {
  height: 100px;
  background-color: #616161;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #fff;
}
.pro_pocket {
  background-color: #000;
}
.included_in {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ccc;
}
.monthly_price {
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.sign_up {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95px;
  background-color: #f1f1f1;
}
.monthly_price {
  font-size: 30px;
  color: #757575;
}
.duration {
  font-size: 14px;
  opacity: 0.6;
}
.sign_up_button {
  text-align: center;
  height: 50px;
  width: 110px;
  background-color: #fff;
  font-size: 15px;
}
.sign_up_button:hover {
  background-color: #000;
  color: #fff;
}
/* =========Contacts ============*/
.contact_me {
  color: #757575;
  margin-top: 90px;
}
.contact_me .section_name{
  margin-bottom: 40px;
}
.contact_information {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact_info i {
  font-size: 35px;
  margin-right: 20px;
}
.position {
  width: 100%;
  margin: 32px 0;
  filter: grayscale(75%);
}
.contact_form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}
.contact_form p {
  color: #ab9c92;
  margin-bottom: 10px;
  font-size: 15px;
}
.data_entry {
  height: 55px;
  width: 100%;
  border: 1px solid #e5e5e5;
  padding-left: 10px;
  font-size: 15px;
}
.data_entry:focus {
  border: 1px solid #000;
  border-radius: 5px;
}
.send_info {
  width: 190px;
  height: 45px;
  font-size: 15px;
}
/* ===== Footer ====*/
.foot_content {
  background-color: #f7f7f7;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 75px;
}
.social_networks {
  display: flex;
  gap: 5px;
}
.social_netwirk_link i {
  font-size: 24px;
  color: #666666;
}
.copyrignths,
.copyrignths a {
  color: #b0b0b0;
  font-size: 15px;
}
.copyrignths a {
  text-decoration: underline;
  color: #9a9a9a;
}
.social_path:hover {
  opacity: 0.6;
}
@media screen and (max-width: 998px) {
  .small_screen_photo {
    display: block;
  }
  .side_photo {
    display: none;
  }
  .wrapper {
    margin-left: 0;
  }
  .main_content {
    padding: 12px 20px;
  }
  #menu_open:checked ~ .wrapper .menu {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .photo_container {
    grid-template-columns: 1fr;
  }
  .projects_amount {
    height: auto;
    width: 100%;
    flex-direction: column;
    gap: 30px;
    padding: 30px 0 30px 0;
  }
  .prise_box_container {
    flex-direction: column;
  }
  #menu_open:checked ~ .wrapper .menu {
    width: 100%;
  }
}
